*{
    box-sizing: border-box;
    font-family: '標楷體';
    overflow: hidden;
}

/* body.main */
.main{
    display: flex;
    width: 1024px;
    padding: 0 , 12px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* 畫線border */
/* body>*:not(aside,section), */
body>*,
aside>*,
section>*{
    border: 5px solid lightgray;
}

/* top */

.top{
    border-bottom: 0 ;
    flex-basis: 1000px;
    height: 65px;
}

/* aside */
.aside{
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
    display: flex;
    flex-direction: column;
    border-right: 0;
}

/* aside header .menu  */
.menu{
    flex-basis: calc(100% - 25px);
    border: 0ch;
}

/* aside update */
.update{
    flex-basis: 25px;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;
    
}

/* section */
.section{
    flex-basis: calc(1000px - 215px);
    display: flex;
    flex-direction: column;
}

.marquee{
    flex-basis: 29px;
    font-family: '標楷體';
    font-size: 24px;
    color: #0000FF;
}

.content{
    flex-basis: calc(100% - 29px);
}
/* footer */
.footer{
    flex-basis: 1000px;
    height: 20px;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
    font-size: 16px;

}